<h1>Users</h1>

<h3> This page is intended for admins only, please do not show this to students! </h3>

    <ul id="student-list">

      <% @users.each do |user| %>
        <li class="student">
        <% if user.admin? %>
          <input id="<%= user.id %>" type="checkbox" value="checked">
          <label for="<%= user.id %>"><%=user.name%></label>
        <% else %>
          <input id="<%= user.id %>" type="checkbox">
          <label for="<%= user.id %>"><%=user.name%></label>
        <% end %>
      <% end %>
    </ul>
  </div>
